*.swp
secrets.yml
config.yml
**/__pycache__/
.coverage
tmp
database/migrations/*
database/init-hist*
3T-observer.json
.DS_Store
database/3T-blocks.sql
database/runs.sql
providence/completed_runs
providence/saved_runs
